body {
  font-family: "Tahoma";
  background-color: rgb(230, 164, 210);
}

button {
  background-color: rgb(209, 135, 179);
  color: white;
  padding: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

.logincontainer {
  padding: 5%;
  background-image: url(login.jpg);
  border: 3px solid #f1f1f1;
  position: relative;
  top: 10%;
  width: 30%;
  margin-right: 1%;
  margin-left: 30%;
  background-image: "footer-back.png";
}

form {
  border: 3px solid #fffb00;
  padding: 5px;
}
