html {
  height: 100%;
  overflow: auto;
}

body {
  position: relative;
  background: cornflowerblue;
  margin: 0 auto;
  min-height: 100%;
  overflow: auto;
}

#header {
  height: 100px;
  background: rgb(153, 171, 205);
  margin: 0 auto;
}

#header .logo {
  float: left;
  padding: 35px;
  width: 20%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header .logo img {
  width: 150px;
}

#header .searchBox {
  float: left;
  padding: 35px;
  width: 60%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header .searchBox input {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

#header .welcomeBox {
  float: left;
  width: 20%;
  padding: 30px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#footer {
  height: 100px;
  background: rgb(153, 171, 205);
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#filter {
  width: 30%;
  text-align: center;
  border-right: solid black 1px;
  padding: 10px;
  margin-right: 50px;
  margin-top: -15px;
}

#refresh {
  text-align: right;
}

.tables {
  border: solid black 1px;
  margin-top: -17px;
  width: 31.15%;
  height: 71.2%;
}

.colors {
  background: rgb(153, 171, 205);
  width: 300px;
  border: 3px solid black;
  padding: 40px;
  margin: 10px;
}

.Brand {
  background: rgb(153, 171, 205);
  width: 300px;
  border: 3px solid black;
  padding: 40px;
  margin: 10px;
}

.price {
  background: rgb(153, 171, 205);
  width: 300px;
  border: 3px solid black;
  padding: 40px;
  margin: 10px;
}
.Discount {
  background: rgb(153, 171, 205);
  width: 300px;
  border: 3px solid black;
  padding: 40px;
  margin: 10px;
}
